.container{
    background-color: #f2f3f4;
    display: grid;
    justify-items: center;
}
.books-container{
    background-color: #fff;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    width: 80%;
    margin-top: 5rem;
    border-radius: 5px;
    margin-bottom: 2rem;
    padding: 1rem;
    
}
.books-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, 230px);
    grid-gap: 1rem;
    list-style: none;
    justify-content: center;
    padding: 1rem 0;
    
}

.book-item {
    background-color: #fff;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    display: grid;
    height: 100%;
    padding: 1rem;
    justify-items: center;
    gap: 1rem;
}
.section-title{
    padding:  0.5rem 2rem;
    border-bottom: 1px solid #f2f3f4;
}
.book-item img{
    width: 150px;
    height: 200px;
}
.book-item:hover{
    background-color:#f2f3f4 ;
}
.book-img img:hover{
    transform: scale(1.05);
}
  
.book-title{
    font-size: 1.2rem;
}
.book-genre{
    color:#3385bc;
}
.book-img{
    position: relative;
    
}
.status{
    position: absolute;
    bottom: 0.8rem;
    left: 3px;
    display: grid;
    place-items: center;
    background-color: #000000aa;
    padding: 0.1rem 0;
}
.status.ongoing{
    outline: 1px solid  green;
    color:green;
}
.status.completed{
    color:red;
    outline: 1px solid red;
}
.status.dropped{
    color:white;
    outline: 1px solid white;
}
.chapters{
    position: absolute;
    bottom: 0.8rem;
    right: 5px;
    color:white;
    outline: 1px solid white;
    display: grid;
    place-items: center;
    padding: 0.1rem 0.6rem;
    background-color: #000000aa;
}