.footer{
    background-color: #f8f8f8;
    display: grid;
    place-items: center;
    padding: 3rem;
}
.chapter-title{
    border-bottom: 1px solid #ccc;
    padding: 1rem;
}
.chapter-list{
    list-style: none;
    padding: 0.5rem;
}